<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="icon" href="static/images/favicon.png" />
    <script src="static/dist/main.js"></script>
    <link rel="stylesheet" href="static/css/dat-gui.css" />
    <title>Road traffic simulator</title>
</head>
<body>
<!--    <div style="width: 300px;-->
<!--    height: 100px;position: absolute;-->
<!--    border:1px solid #96C2F1;background-color: #EFF7FF;-->
<!--margin-left: 20px; margin-top: 20px;">好滴哦我才能军事部队参加电视播出</div>-->
</body>
</html>
